body{
    margin:0;
    padding:0;
}

html{
    margin:0;
    padding:0;
}

/* video */
.video{
	position: absolute;
	top : 0;
    width: 100%;
	height: 100%;
    object-fit: cover;
    z-index: -1;
	background: black;
}
video{
	width: 100%;
	height: 100%;
    object-fit: cover;
}


/* ヒーロー */
.hero {
	height: 100vh;
	width: 100%;
}

.hero .catch {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	color: #fff;
	text-shadow: 0 0 30px rgba(0, 0, 0, 0.918);
	font-family:'Times New Roman', Times, serif;
	transform: translateY(-100px)

}

.hero .catch h1 {
	font-size: 30px;
	margin-bottom: 10px;
}
.hero .catch p {
	font-size: 25px;
	text-shadow: 0 0 20px rgba(0,0,0,0.5);
}

@media (min-width: 768px) {
	.hero .catch h1 {
		font-size: 40px;
		margin-bottom: 30px;
	}
	.hero .catch p {
		font-size: 30px;
	}
	.hero .catch{
		transform: none;
	}
}

@media (min-width: 900px) {
	.hero .catch h1 {
		font-size: 56px;
		margin-bottom: 30px;
	}
	.hero .catch p {
		font-size: 40px;
	}
}

table{
    margin: 0 auto;
    font-size: 2vw;
    margin-bottom: 5%;
    font-family:'Courier New', Courier, monospace;
    border-collapse: collapse
}

/* list */
.info {
    width: 70%;
    margin: 10% auto;
    border-top: solid #66a5b3 1px;/*上のボーダー*/
    border-bottom: solid #66a5b3 1px;/*下のボーダー*/
    padding: 0.5em 0 0.5em 1.5em;
}

.info li
{
	padding-inline-start: 0px;
    line-height: 1.5;
    padding: 0.5em 0;
}

@media (min-width: 768px){
    .br{
        display: none;
    }

}

/* adress */
.mail{
    width: 70%;
    font-size: 2vw;
    margin: 0 auto;
	margin-bottom: 10%;
}
.mail img{
    height: 1vw;
}
.mail ul{
    border-top: solid #66a5b3 0px;/*上のボーダー*/
    border-bottom: solid #66a5b3 0px;/*下のボーダー*/
}
@media (min-width: 768px){
    .mail{
        width: 40%;
        font-size: 1.3vw;
    }
    .mail img{
        height: 1.3vw;
    }

}

/* アクセス */
.access{
    width: 80%;
    font-size: 2vw;
    margin: 0 auto;
	margin-bottom: 10%;
}
.access img.map{
    height:50vh;
}

.map-cont{
    margin: 0 auto;
    text-align: center;
}

@media (min-width: 768px){
    .access{
        width: 70%;
        font-size: 1.3vw;
    }
    .access img.map{
        height: 60vh;
    }
}

div.text{
    text-align: center;
    margin: 0 auto;
    font-size: 1.8vw;;
}

div.text p{
    display: inline-block;
    text-align: left;
}

@media (min-width: 768px){
    div.text{
        font-size: 1.4vw;
    }
}

